@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-logo {
    width: 120px;
}

#pds input[type='text'] {
    text-transform: uppercase;
}

#pds .form-status{
    opacity: .6;
}

.text-pre-wrap {
    white-space: pre-wrap
}


/* .tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
} */